@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-size: 12px;
  --very-dark-blue: hsl(238, 29%, 16%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-gray-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --soft-red: hsl(14, 88%, 65%);
  --bg-soft-violet: hsl(273, 75%, 66%);
  --bg-soft-blue: hsl(240, 73%, 65%);
}
body {
  font-size: var(--font-size);
  background: linear-gradient(var(--bg-soft-violet), var(--bg-soft-blue));
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p,
h1 {
  font-family: "Kumbh Sans", sans-serif;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  width: 95%;
  max-width: 820px;
  margin: auto;
  height: 27rem;
  max-height: 432px;
  border-radius: 15px;
  overflow: hidden;
  background: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: top -16rem right 30rem;
  background-size: cover;
  background-color: white;
  box-shadow: 5px 5px 10px -2px var(--very-dark-grayish-blue),
    -5px -5px 10px -2px var(--very-dark-grayish-blue);
}
.box {
  width: 35%;
  max-width: 136px;
  position: absolute;
  z-index: 1;
  transform: translate(-65px, 185px);
}
.main-img {
  width: 100%;
  max-width: 397px;
  position: relative;
  top: 60px;
  right: 71px;
}
.faq-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}
hr {
  width: 85%;
  height: 1px;
  border: none;
  background: var(--light-grayish-blue);
}
.faq {
  padding: 15px 0;
}
.question {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-content: space-between;
}
.question p {
  font-weight: 400;
  color: var(--dark-gray-blue);
}
.answer {
  height: 0;
  overflow: hidden;
}
.answer p {
  padding: 10px 0 0 0;
  width: 85%;
  color: var(--dark-gray-blue);
  font-size: 11px;
}
.active {
  height: auto;
}

@media screen and (max-width: 900px) {
  main {
    display: block;
    width: 330px;
    min-width: 330px;
    max-width: 330x;
    height: 500px;
    max-height: 550px;
    overflow: inherit;
    margin: 20px auto;
    background: url("./images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 250px;
    background-color: white;
  }
  .image-wrapper {
    height: 140px;
  }
  .box {
    width: 95px;
    max-width: 95px;
    min-width: 95px;
    transform: translate(35px, -40px);
  }
  .main-img {
    width: 80%;
    min-width: 240px;
    max-width: 240px;
    top: -110px;
    right: -45px;
  }
  .faq-wrapper {
    text-align: center;
    width: 90%;
    margin: auto;
  }
  hr {
    width: 100%;
  }
  .faq {
    text-align: left;
  }
  .question img {
    justify-self: right;
  }
}
